@import "tailwindcss";

body {
    width: 100dvw;
    height: 100dvh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.card-blackjack {
    transition: all 150ms;
}

.card-dimensions {
    width: 120px;
    height: 180px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}